<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras 2</title>
</head>
<body>
    <div>
        <a href=""> Barra de navegacion </a>

        <ul>
            <li>Carrito de compra</li>
            <li>Ingresa tu correo</li>
            <li>Envío y pago</li>
            <li>Confirmación</li>
        </ul>
        
    </div>
  <ul>
      <li>Nombre del producto</li>
      <li>Precio</li>
      <li>Cantidad</li>
      <li>Subotal</li>
      <li>Cupón de descuento</li>
      <li>Descuentos</li>
      <li>Total</li>
      <li>Eliminar</li>
  </ul>

  <div>
      <a href="">Seguir comprando</a>
      <a href="">Realizar compra</a>
  </div>
</body>
</html>